# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*
replay_pid*

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### yml파일 ###
/src/main/resources/application.yml
/src/test/resources/**
.DS_Store

### HTTP 요청 파일 ###
*.http*

### K6 테스트 바이너리 파일 ###
*k6*%

### 성능 테스트 관련 추가 ###
# 테스트 결과 파일들 (용량이 크고 실행할 때마다 달라짐)
chat-file-websocket-tests/results/*.json

# Node.js 의존성
chat-file-websocket-tests/node_modules/

# 데이터베이스 덤프 파일 (대용량)
*.dump
kopis_full.dump

# 애플리케이션 로그
application.log