<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.profect.tickle.domain.settlement.mapper.SettlementDailyMapper">

    <!-- 일간 정산 데이터 집계 -->
    <select id="aggregateByDetail" resultType="com.profect.tickle.domain.settlement.dto.batch.SettlementDailyDto">
        SELECT
            sdt.host_biz_name,
            sdt.performance_title,
            TO_CHAR(now(), 'YYYY') AS year,
            TO_CHAR(now(), 'MM') AS month,
            TO_CHAR(now(), 'DD') AS day,
			SUM(sdt.settlement_detail_sales_amount) AS dailySalesAmount,
            SUM(sdt.settlement_detail_refund_amount) AS dailyRefundAmount,
            SUM(sdt.settlement_detail_gross_amount) AS dailyGrossAmount,
            SUM(sdt.settlement_detail_commission) AS dailyCommission,
            SUM(sdt.settlement_detail_net_amount) AS dailyNetAmount
        FROM settlement_detail sdt
        -- 일간정산 테이블의 마지막 배치시점 이후에 쌓인 건별정산 테이블의 데이터를 가져오는 조건
        WHERE sdt.settlement_detail_created_at > (
            SELECT COALESCE(MAX(settlement_daily_created_at), '1970-01-01'::TIMESTAMP)
            FROM settlement_daily
            )
          AND sdt.status_id IN (14, 16)
          AND sdt.settled_flag = 'N'
        -- 주최자별 주최한 공연 그룹
        GROUP BY sdt.host_biz_name,
            sdt.performance_title,
            TO_CHAR(now(), 'YYYY'),
            TO_CHAR(now(), 'MM'),
            TO_CHAR(now(), 'DD')
    </select>

    <!-- 일간 정산 upsert -->
    <insert id="upsertSettlementDaily" parameterType="map">
        INSERT INTO settlement_daily (
            status_id, host_biz_name, performance_title, settlement_year, settlement_month, settlement_day,
            settlement_daily_sales_amount, settlement_daily_refund_amount, settlement_daily_gross_amount,
            settlement_daily_commission, settlement_daily_net_amount, settlement_daily_created_at
        ) VALUES (
            15, #{dto.hostBizName}, #{dto.performanceTitle}, #{dto.year}, #{dto.month}, #{dto.day}, #{dto.dailySalesAmount},
            #{dto.dailyRefundAmount}, #{dto.dailyGrossAmount}, #{dto.dailyCommission}, #{dto.dailyNetAmount}, #{now}
        )
        ON CONFLICT (host_biz_name, performance_title, settlement_year, settlement_month, settlement_day)
        DO UPDATE SET
            settlement_daily_sales_amount = settlement_daily.settlement_daily_sales_amount + EXCLUDED.settlement_daily_sales_amount,
            settlement_daily_refund_amount = settlement_daily.settlement_daily_refund_amount + EXCLUDED.settlement_daily_refund_amount,
            settlement_daily_gross_amount = settlement_daily.settlement_daily_gross_amount + EXCLUDED.settlement_daily_gross_amount,
            settlement_daily_commission = settlement_daily.settlement_daily_commission + EXCLUDED.settlement_daily_commission,
            settlement_daily_net_amount = settlement_daily.settlement_daily_net_amount + EXCLUDED.settlement_daily_net_amount,
            settlement_daily_created_at = EXCLUDED.settlement_daily_created_at
    </insert>
</mapper>