<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.profect.tickle.batch.domain.settlement.mapper.SettlementMonthlyMapper">

    <!-- 주간정산 집계하여 월간정산 -->
    <select id="aggregateFromWeeklyToMonthly" parameterType="map"
            resultType="com.profect.tickle.batch.domain.settlement.dto.SettlementMonthlyFindTargetDto">
        SELECT
            member_id AS memberId,
            performance_title AS performanceTitle,
            #{year} AS year,
            #{month} AS month,
            #{now} AS settlementMonthlyCreatedAt,
            SUM(settlement_weekly_sales_amount) AS monthlySalesAmount,
            SUM(settlement_weekly_refund_amount) AS monthlyRefundAmount,
            SUM(settlement_weekly_gross_amount) AS monthlyGrossAmount,
            SUM(settlement_weekly_commission) AS monthlyCommission,
            SUM(settlement_weekly_net_amount) AS monthlyNetAmount
        FROM settlement_weekly
        WHERE COALESCE(settlement_weekly_updated_at, settlement_weekly_created_at)
         &gt; #{lastTimeSeconds}
            AND settlement_year = #{year}
            AND settlement_month = #{month}
        GROUP BY member_id,
                 performance_title
    </select>

    <!-- 1일 기준 이전 달의 정산 상태 업데이트 -->
    <update id="updateSettlementMonthlyStatus">
        UPDATE settlement_monthly
        SET status_id = #{afterStatus.id}
        WHERE settlement_year = #{year}
        AND settlement_month = #{month}
        AND status_id = #{beforeStatus.id}
    </update>
</mapper>