<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.profect.tickle.batch.domain.settlement.mapper.SettlementWeeklyMapper">

    <!--
    * 일간정산 집계하여 주간정산
    -->
    <select id="aggregateFromDailyToWeekly" parameterType="map"
            resultType="com.profect.tickle.batch.domain.settlement.dto.SettlementWeeklyFindTargetDto">
        SELECT
            member_id AS memberId,
            performance_title AS performanceTitle,
            #{year} AS year,
            #{month} AS month,
            #{week} AS week,
            #{now} AS settlementWeeklyCreatedAt,
            SUM(settlement_daily_sales_amount) AS weeklySalesAmount,
            SUM(settlement_daily_refund_amount) AS weeklyRefundAmount,
            SUM(settlement_daily_gross_amount) AS weeklyGrossAmount,
            SUM(settlement_daily_commission) AS weeklyCommission,
            SUM(settlement_daily_net_amount) AS weeklyNetAmount
        FROM settlement_daily
        WHERE COALESCE(settlement_daily_updated_at, settlement_daily_created_at)
            &gt; #{lastTimeSeconds}
            AND (settlement_year || '-' || lpad(settlement_month, 2, '0') || '-' || lpad(settlement_day, 2, '0'))::date
            BETWEEN #{from}::date AND #{to}::date
        GROUP BY member_id,
                 performance_title
        ORDER BY member_id
        LIMIT #{_pagesize} OFFSET #{_skiprows};
    </select>

    <!-- 월요일 또는 1일인 경우 n-1회차의 정산예정 건들 업데이트-->
    <update id="updateSettlementDetailStatus">
        UPDATE settlement_weekly
        SET status_id = #{afterStatus.id}
        WHERE settlement_year = #{year}
        AND settlement_month = #{month}
        AND settlement_week = #{week}
        AND status_id = #{beforeStatus.id}
    </update>
</mapper>