<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.profect.tickle.batch.domain.settlement.mapper.SettlementDetailMapper">

    <!-- Chunk :: 건별 정산에 사용될 데이터 집합 추출 -->
    <select id="findTargetFromReservations" resultType="com.profect.tickle.batch.domain.settlement.dto.SettlementDetailFindTargetDto">
        WITH candidate_res AS MATERIALIZED (
            SELECT *
            FROM reservation r
            WHERE r.reservation_id &gt; #{lastProcessedId}
            ORDER BY r.reservation_id
            LIMIT #{pageSize}
        )
        SELECT
            r.reservation_id AS reservationId,
            r.status_id AS reservationStatusId,
            r.reservation_code AS reservationCode,
            r.reservation_price AS reservationPrice,
            p.member_id AS memberId,
            p.performance_title AS performanceTitle,
            p.performance_end_date AS performanceEndDate,
            c.contract_charge AS contractCharge,
            #{now} AS settlementDetailCreatedAt
        FROM candidate_res r
                 JOIN performance p ON r.performance_id = p.performance_id
                 JOIN contract c ON p.member_id = c.member_id
            AND c.contract_effective_from &lt;= #{now}
            AND (c.contract_effective_to IS NULL
                OR c.contract_effective_to &gt;= #{now})
        WHERE #{now}::TIMESTAMPTZ - INTERVAL '1 min' BETWEEN p.performance_start_date AND p.performance_end_date
        ORDER BY r.reservation_id
    </select>

    <!-- 튜닝 전 테스트용 -->
    <select id="findTargetFromReservationsTest" resultType="com.profect.tickle.batch.domain.settlement.dto.SettlementDetailFindTargetTestDto">
        SELECT
            m.member_id AS memberId,
            sr.status_id AS reservationStatusId,
            p.performance_title AS performanceTitle,
            p.performance_end_date AS performanceEndDate,
            r.reservation_code AS reservationCode,
            r.reservation_price AS reservationPrice,
            c.contract_charge AS contractCharge,
            #{now} AS settlementDetailCreatedAt
        FROM reservation r
        JOIN performance p ON r.performance_id = p.performance_id
        JOIN member m ON p.member_id = m.member_id
        JOIN contract c ON m.member_id = c.member_id
            AND c.contract_effective_from &lt;= #{now}
            AND (c.contract_effective_to IS NULL
            OR c.contract_effective_to &gt;= #{now})
        JOIN status sr ON r.status_id = sr.status_id
        JOIN status sp ON p.status_id = sp.status_id
        WHERE COALESCE(r.reservation_updated_at, r.reservation_created_at)
            &gt; #{lastTimeSeconds}
            AND #{now}::TIMESTAMPTZ - INTERVAL '1 min' BETWEEN p.performance_start_date AND p.performance_end_date
            AND sr.status_id IN (9, 10)
            AND sp.status_id = 1
        ORDER BY r.reservation_id
        LIMIT #{_pagesize} OFFSET #{_skiprows}
    </select>

    <!-- 1차 튜닝 후 테스트용 -->
<!--    <select id="findTargetFromReservationsTest" resultType="com.profect.tickle.batch.domain.settlement.dto.SettlementDetailFindTargetTestDto">-->
<!--        WITH candidate_res AS MATERIALIZED (-->
<!--            SELECT *-->
<!--            FROM reservation r-->
<!--            WHERE COALESCE(r.reservation_updated_at, r.reservation_created_at) &gt; #{lastTimeSeconds}-->
<!--            ORDER BY r.reservation_id-->
<!--            LIMIT #{_pagesize} OFFSET #{_skiprows}-->
<!--        )-->
<!--        SELECT-->
<!--            p.member_id AS memberId,-->
<!--            r.status_id AS reservationStatusId,-->
<!--            p.performance_title AS performanceTitle,-->
<!--            p.performance_end_date AS performanceEndDate,-->
<!--            r.reservation_code AS reservationCode,-->
<!--            r.reservation_price AS reservationPrice,-->
<!--            c.contract_charge AS contractCharge,-->
<!--            #{now} AS settlementDetailCreatedAt-->
<!--        FROM candidate_res r-->
<!--                 JOIN performance p ON r.performance_id = p.performance_id-->
<!--                 JOIN contract c ON p.member_id = c.member_id-->
<!--            AND c.contract_effective_from &lt;= #{now}-->
<!--            AND (c.contract_effective_to IS NULL-->
<!--                OR c.contract_effective_to &gt;= #{now})-->
<!--        WHERE #{now}::TIMESTAMPTZ - INTERVAL '1 min' BETWEEN p.performance_start_date-->
<!--                        AND p.performance_end_date-->
<!--            AND p.status_id = 1-->
<!--        ORDER BY r.reservation_id-->
<!--    </select>-->


    <!-- 예매종료일시가 n일23시59분59초.999 이하 && 정산상태가 '정산완료'인 건들 업데이트 -->
    <update id="updateSettlementDetailStatus">
        UPDATE settlement_detail
        SET status_id = #{afterStatus.id}
        WHERE performance_end_date &lt;= #{endOfDay}
          AND status_id = #{beforeStatus.id}
    </update>
</mapper>