<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.profect.tickle.domain.settlement.mapper.SettlementMonthlyMapper">

    <!--
    * 주간정산 집계하여 월간정산
    * 매일 00:00:01에 전날의 일간정산을 해당 주차에 집계
    -->
    <select id="findByWeek" parameterType="map"
            resultType="com.profect.tickle.domain.settlement.dto.batch.SettlementWeeklyDto">
        SELECT
            host_biz_name AS hostBizName,
            performance_title AS performanceTitle,
            settlement_weekly_sales_amount AS weeklySalesAmount,
            settlement_weekly_refund_amount AS weeklyRefundAmount,
            settlement_weekly_gross_amount AS weeklyGrossAmount,
            settlement_weekly_commission AS weeklyCommission,
            settlement_weekly_net_amount AS weeklyNetAmount
        FROM settlement_weekly
        WHERE settlement_year = #{year}
        AND settlement_month = #{month}
        AND settlement_week = #{week}
    </select>

    <!-- 월간 정산 누적 집계 upsert -->
    <insert id="upsertSettlementMonthly" parameterType="map">
        INSERT INTO settlement_weekly (
            status_id, host_biz_name, performance_title, settlement_year, settlement_month,
            settlement_monthly_sales_amount, settlement_monthly_refund_amount, settlement_monthly_gross_amount,
            settlement_monthly_commission, settlement_monthly_net_amount, settlement_monthly_created_at
        ) VALUES (
            15, #{dto.hostBizName}, #{dto.performanceTitle}, #{year}, #{month}, #{dto.weeklySalesAmount},
            #{dto.weeklyRefundAmount}, #{dto.weeklyGrossAmount}, #{dto.weeklyCommission}, #{dto.weeklyNetAmount}, #{now}
        )
        ON CONFLICT (host_biz_name, performance_title, settlement_year, settlement_month)
        DO UPDATE SET
            settlement_monthly_sales_amount = settlement_monthly.settlement_monthly_sales_amount + EXCLUDED.settlement_monthly_sales_amount,
            settlement_monthly_refund_amount = settlement_monthly.settlement_monthly_refund_amount + EXCLUDED.settlement_monthly_refund_amount,
            settlement_monthly_gross_amount = settlement_monthly.settlement_monthly_gross_amount + EXCLUDED.settlement_monthly_gross_amount,
            settlement_monthly_commission = settlement_monthly.settlement_monthly_commission + EXCLUDED.settlement_monthly_commission,
            settlement_monthly_net_amount = settlement_monthly.settlement_monthly_net_amount + EXCLUDED.settlement_monthly_net_amount,
            settlement_monthly_created_at = EXCLUDED.settlement_monthly_created_at
    </insert>
</mapper>