<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.profect.tickle.batch.domain.settlement.mapper.SettlementDailyMapper">

    <!-- 일간 정산 데이터 집계 -->
    <select id="aggregateFromDetailToDaily" resultType="com.profect.tickle.batch.domain.settlement.dto.SettlementDailyFindTargetDto">
        SELECT
            sdt.member_id AS memberId,
            sdt.performance_title AS performanceTitle,
            sdt.performance_end_date AS performanceEndDate,
            sdt.contract_charge AS contractCharge,
            TO_CHAR(#{now}::TIMESTAMPTZ, 'YYYY') AS year,
            TO_CHAR(#{now}::TIMESTAMPTZ, 'MM') AS month,
            TO_CHAR(#{now}::TIMESTAMPTZ, 'DD') AS day,
            #{now} AS settlementDailyCreatedAt,
			SUM(sdt.settlement_detail_sales_amount) AS dailySalesAmount,
            SUM(sdt.settlement_detail_refund_amount) AS dailyRefundAmount,
            SUM(sdt.settlement_detail_gross_amount) AS dailyGrossAmount,
            SUM(sdt.settlement_detail_commission) AS dailyCommission,
            SUM(sdt.settlement_detail_net_amount) AS dailyNetAmount
        FROM settlement_detail sdt
        -- 일간정산 테이블의 마지막 배치시점 이후에 쌓인 건별정산 테이블의 데이터를 가져오는 조건
        WHERE sdt.settlement_detail_created_at &gt; #{lastTimeSeconds}
        -- 주최자별 주최한 공연과 공연예매종료일시 그룹
        GROUP BY sdt.member_id,
            sdt.performance_title,
            sdt.performance_end_date,
            sdt.contract_charge
        ORDER BY sdt.member_id
        LIMIT #{_pagesize} OFFSET #{_skiprows};
    </select>

    <!-- 일간 정산 데이터 집계 -->
<!--    <select id="aggregateFromDetailToDaily" resultType="com.profect.tickle.batch.domain.settlement.dto.SettlementDailyFindTargetDto">-->
<!--        WITH candidate_sd AS materialized (-->
<!--            SELECT *-->
<!--            FROM settlement_detail sd-->
<!--            WHERE sd.settlement_detail_id &gt; #{lastProcessedId}-->
<!--            ORDER BY sd.settlement_detail_id-->
<!--            LIMIT #{pageSize}-->
<!--        ),-->
<!--        aggregated AS (-->
<!--            SELECT-->
<!--                sdt.member_id AS memberId,-->
<!--                sdt.performance_title AS performanceTitle,-->
<!--                sdt.performance_end_date AS performanceEndDate,-->
<!--                sdt.contract_charge AS contractCharge,-->
<!--                TO_CHAR(#{now}::TIMESTAMPTZ, 'YYYY') AS year,-->
<!--                TO_CHAR(#{now}::TIMESTAMPTZ, 'MM') AS month,-->
<!--                TO_CHAR(#{now}::TIMESTAMPTZ, 'DD') AS day,-->
<!--                #{now} AS settlementDailyCreatedAt,-->
<!--                SUM(sdt.settlement_detail_sales_amount) AS dailySalesAmount,-->
<!--                SUM(sdt.settlement_detail_refund_amount) AS dailyRefundAmount,-->
<!--                SUM(sdt.settlement_detail_gross_amount) AS dailyGrossAmount,-->
<!--                SUM(sdt.settlement_detail_commission) AS dailyCommission,-->
<!--                SUM(sdt.settlement_detail_net_amount) AS dailyNetAmount-->
<!--            FROM candidate_sd sdt-->
<!--            &#45;&#45; 주최자별 주최한 공연과 공연예매종료일시 그룹-->
<!--            GROUP BY sdt.member_id,-->
<!--                sdt.performance_title,-->
<!--                sdt.performance_end_date,-->
<!--                sdt.contract_charge-->
<!--        ),-->
<!--        max_id AS (-->
<!--            &#45;&#45; 이번 페이지(candidate_sd) 의 최대 ID 만 뽑아서-->
<!--            SELECT-->
<!--                MAX(sdt.settlement_detail_id)::BIGINT AS pageMaxId-->
<!--            FROM candidate_sd sdt-->
<!--        )-->
<!--        SELECT-->
<!--            mi.pageMaxId,-->
<!--            ag.*-->
<!--        FROM aggregated ag-->
<!--        CROSS JOIN max_id mi;-->
<!--    </select>-->

    <!-- 1) 예매 종료일시 <= n일23시59분59초.999 && '정산예정'
         2) 오늘이 월요일 또는 1일인 경우, 이전 건들 업데이트 -->
    <update id="updateSettlementDailyStatus">
        UPDATE settlement_daily
        SET status_id = #{afterStatus.id}
        WHERE performance_end_date &lt;= #{endOfDay}
        AND status_id = #{beforeStatus.id}
    </update>

</mapper>