<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.profect.tickle.batch.metadata.BatchMetadataMapper">

    <!-- Step 시작 전에 마치막 배치 시간 추출 -->
    <select id="findLastProcessedAt" resultType="java.time.Instant">
        SELECT last_processed_at AS lastProcessedAt
        FROM batch_metadata
        WHERE job_name = #{jobName}
    </select>

    <!-- Step 시작 전에 마치막 배치 아이디 추출 -->
    <select id="findLastProcessedId" resultType="java.lang.Long">
        SELECT last_processed_id AS lastProcessedId
        FROM batch_metadata
        WHERE job_name = #{jobName}
    </select>

    <!-- 배치 Step 끝난 후 배치 시간 업데이트 -->
    <insert id="upsertLastProcessedAt">
        INSERT INTO batch_metadata (job_name, last_processed_at, updated_at, last_processed_id)
        VALUES (#{jobName}, #{lastTimeSeconds}, now(), #{lastProcessedId})
        ON CONFLICT (job_name)
        DO UPDATE SET
            last_processed_at = EXCLUDED.last_processed_at,
            updated_at = EXCLUDED.updated_at,
            last_processed_id = EXCLUDED.last_processed_id
    </insert>

    <!-- 튜닝 전 테스트용 -->
    <!-- Step 시작 전에 마치막 배치 시간 추출 -->
    <select id="findLastProcessedAtTest" resultType="java.time.Instant">
        SELECT last_processed_at AS lastProcessedAt
        FROM batch_metadata_test
        WHERE job_name = #{jobName}
    </select>

    <!-- 배치 Step 끝난 후 배치 시간 업데이트 -->
    <insert id="upsertLastProcessedAtTest">
        INSERT INTO batch_metadata_test (job_name, last_processed_at, updated_at)
        VALUES (#{jobName}, #{lastTimeSeconds}, now())
            ON CONFLICT (job_name)
        DO UPDATE SET
            last_processed_at = EXCLUDED.last_processed_at,
            updated_at = EXCLUDED.updated_at
    </insert>

</mapper>